@using EmergencyResponse.Controller;
@using Microsoft.AspNetCore.Http

@page "/getbfe"
<PageTitle>GetBfePage</PageTitle>

<input @bind="address" type="text"/>
<button class="btn btn-primary" @onclick="GetBfeFromAddress">Hent</button>
<label>@bfe</label>

@code {
    private string? address;
    private int? bfe;

    private async Task GetBfeFromAddress()
    {
        HttpClient httpClient = new();
        AddressController addressController = new(httpClient);
        if(address != null && address != "")
        {
            bfe = await addressController.GetAddressBFE(address);
        }
    }
}